@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
/* Styling for TipTop Canvas ONLY */

.ProseMirror ul {
  @apply list-disc list-outside ml-6 mb-4;
}

.ProseMirror li {
  @apply mb-2;
}

.ProseMirror img {
  @apply max-w-full h-auto mt-4 mb-4;
}

.ProseMirror p {
  @apply mb-4;
}

.ProseMirror blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic text-gray-600 mb-4;
}

.ProseMirror a {
  @apply text-blue-600 hover:underline;
}

.ProseMirror strong {
  @apply font-bold;
}

.ProseMirror em {
  @apply italic;
}
/* */

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.inner-shadow-text {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: #e10000;
}

.droppable-section {
  min-height: 200px;
  border: 2px dashed #ccc;
  padding: 16px;
  background-color: #f9f9f9;
}

.droppable-section.is-over {
  background-color: #e0e0e0;
}
